extends layout

block content
  .timeline
    .followings.half
      h2 팔로잉 목록
      if user.Followings
        for following in user.Followings
          div= following.Name
    .followers.half
      h2 팔로워 목록
      if user.Followers
        for follower in user.Followers
          div= follower.Name
    
  form#profile-form(method='post', action='/customer/profile')
    input(name='Name') 
    button 닉네임 수정